html {
	background-image: url(https://ubistatic19-a.akamaihd.net/ubicomstatic/en-US/global/search-thumbnail/Battleship-ubicom-search-thumbnail_Mobile_259475.jpg);
  background-size: cover;
	 height: 100%;
  overflow: hidden;
}